<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Maze Runner</title>
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon" />
    <link href="../static/styles/mainpage.css" rel="stylesheet">
</head>

<body class="index">

<!-- TITLE -->
<div class="floating-box">

    <div id="container">

        <div id="text">
            Maze Runner!
            <a href="/views/game.html">Play Game</a>
        </div>


        <!-- Move around -->
        <div id="something">
            <ul>
                <a class="page-scroll" href="#Instructions">Instructions</a>
                <a class="page-scroll" href="#team-members">Team Members</a>
            </ul>
        </div>
    </div>
</div>



<div class = "after-box">

    <!-- Instructions -->
    <section id="Instructions">
        <div class="container">
            <div class="row">
                <div class="game-features text-center">
                    <h2> About the Game</h2>
                    <h3>Instructions</h3>
                    <p>
                        There are several coloured balls on the screen. Your goal
                        is to take your ball and beat all the other players by
                        finishing the maze first! Use the Arrow keys or tilt the phone to move around.
                    </p>

                </div>
            </div>
        </div>
    </section>

    <!-- Team Members -->
    <section class="team-background", id = "team-members">
        <div class="container">
            <div class="row">
                <div class="game-features text-center">
                    <h2 class="section-heading">Team KNDy </h2>
                </div>
            </div>
            <div class="row">
                <div class="team-names">
                    <img alt="" class="team-image" src="">
                    <h3>Dilraj Singh </h3>
                </div>
                <div class="team-names">
                    <img alt="" class="team-image" src="">
                    <h3>Nathan Mukena </h3>
                </div>
                <div class="team-names">
                    <img alt="" class="team-image" src="">
                    <h3>Kamal Aslam</h3>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
</body>

</html>
