<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
            <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon" />

</head>
<!-- DO NOT ALTER ANY OF THE HTML BELOW -->
<body>
    <div class="you-won-image" >
   
   <div id="controls2" class="playAgain-button"> <div class="playAgain-button-circle"  
    onclick="window.location.href = 'game.html'">Play Again?</div>


    </div>
            <link href="../static/styles/win.css" rel="stylesheet"> 

</body>
</html>

